.body{
    background:red;
}

.inputContainer{
    padding: 20px;
    margin: 22px;
}

.QRContainer {
  padding: 10px;
  margin: 20px;
  background-color: #f7f7f7;
  border-radius: 22px;
}

.inputField{
    background-color:  #f7f7f7;
    padding: 20px;
    font-size: 24px;
    margin: 10px;
    border-radius: 22px;
    color: black;
    font-weight: bolder;
}

.button{
    background-color: #f7f7f7;
    color: black;
    padding: 20px;
    font-size: 24px;
    border-radius: 22px;
    margin: 10px;
}
